<ion-content class="ion-padding" scroll-y="false" color="dark">
  <ion-item button="true" (click)="goSettings()" color="dark">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <ion-label>
      <h2>Configuración</h2>
    </ion-label>
  </ion-item>
  <ion-item button="true" (click)="goSettings()" color="dark">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <ion-label>
      <h2>Configuración</h2>
    </ion-label>
  </ion-item>
  <ion-item button="true" (click)="goSettings()" color="dark">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <ion-label>
      <h2>Configuración</h2>
    </ion-label>
  </ion-item>
</ion-content>
