<app-header [backButton]="true"></app-header>

<ion-content color="black">
  <ion-list lines="none" mode="ios">
      <ion-item-divider color="black">
          <ion-label>
              ACCOUNT
          </ion-label>
      </ion-item-divider>

      <ion-item>
          <ion-label>
              Manage account
          </ion-label>
          <ion-icon slot="start" src="../assets/svg/user-s.svg"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label>
              Privacy
          </ion-label>
          <ion-icon slot="start" src="../assets/svg/privacy-s.svg"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label>
              Security and login
          </ion-label>
          <ion-icon slot="start" src="../assets/svg/s-a-l.svg"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label>
              QR code
          </ion-label>
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label>
              Share profile
          </ion-label>
          <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
      </ion-item>
  </ion-list>
      <div class="ion-text-center version">
          <small>v0.1 Beta</small>
      </div>

</ion-content>
