<ion-content *ngIf="loaded" fullscreen color="black">
  <div class="container">
    <img
      class="img-container"
      alt="Silhouette of mountains"
      [src]="event.image"
    />

    <div class="info-event-container">
      <p class="name-event">{{ event.name }}</p>
      <p class="time-event">mié, 30 nov 2022 | 23:00 - 04:00</p>
      <ion-icon class="location-icon" name="location-outline"></ion-icon>
      <p class="location-event">Ciudad Real</p>
    </div>

    <div class="users-container">
      <ion-item *ngFor="let item of [1, 1, 1, 1, 1, 1]" lines="none">
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>achece</ion-label>
      </ion-item>
      <p>...</p>
    </div>

    <div class="feed-container">
      <ion-icon name="heart-outline" size="large"></ion-icon>
      <ion-icon name="share-outline" size="large"></ion-icon>
    </div>

    <div class="people-container">
      <ion-item lines="none">
        <ion-icon name="man"></ion-icon>
        <ion-label>97</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="woman"></ion-icon>
        <ion-label>97</ion-label>
      </ion-item>
    </div>

    <!--<ion-button class="go-button" (click)="onClick()" color="warning">
        VOY!
      </ion-button>-->
  </div>
</ion-content>

<!--
<ion-content *ngIf="!loaded" fullscreen color="black">
  <div class="info-event-container">
    <p class="name-event">
      <ion-skeleton-text
        [animated]="true"
        style="width: 60%"
      ></ion-skeleton-text>
    </p>
    <p class="time-event">
      <ion-skeleton-text
        [animated]="true"
        style="width: 70%"
      ></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text
        [animated]="true"
        style="width: 30%"
      ></ion-skeleton-text>
    </p>
  </div>

  <div class="users-container">
    <ion-item
      *ngFor="let item of [1, 1, 1, 1, 1, 1]"
      lines="none"
      style="width: 50%"
    >
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </ion-item>
    <p>...</p>
  </div>

  <div class="feed-container">
    <ion-icon name="heart-outline" size="large"></ion-icon>
    <ion-icon name="share-outline" size="large"></ion-icon>
  </div>

  <div class="people-container">
    <ion-item lines="none">
      <ion-icon name="man"></ion-icon>
      <ion-label>97</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="woman"></ion-icon>
      <ion-label>97</ion-label>
    </ion-item>
  </div>
</ion-content>
-->
