<app-header [backButton]="true"></app-header>

<ion-content [fullscreen]="true" scroll-y="false" color="black">
  <p class="label-input-sign">
    {{user.name}}, ¿Cuál es tu fecha de nacimientoo?
  </p>

  <ion-input
    [(ngModel)]="user.dateofbirth"
    class="input-sign"
    type="text"
    inputmode="numeric"
    autofocus="true"
    placeholder="DD MM AAAA"
    (ionChange)="inputDateChange($event)"
    maxlength="10"
  ></ion-input>
  <ion-button
    mode="ios"
    class="button-sign"
    expand="block"
    color="light"
    type="submit"
    (click)="goImageProfile()"
    [disabled]="invalidForm"
    >Continuar</ion-button
  >

  <!-- <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
          <ion-datetime
          #datetime
          [value]="dateValue"
          (ionChange)="selectDate(datetime.value)"
          presentation="date"
          display-format="DD.MM.YYYY"
          size = "cover"
          showDefaultButtons="true"
          doneText="Aceptar"
          cancelText="Cancelar"
          ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>-->
</ion-content>
